{% extends "base_generic.html" %}
{% load crispy_forms_tags %}


{% block title %}
    {% if doctor %}
        Edit Doctor - {{ doctor.full_name }}
    {% else %}
        Create Doctor
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">
        {% if doctor %}
            Edit Doctor - {{ doctor.full_name }}
        {% else %}
            Create Doctor
        {% endif %}
    </h1>

    <!-- Doctor Form -->
    <form method="POST" class="mb-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'doctor_list_view' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
