{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Medical Record{% endblock %}

{% block content %}
<header>
    <h1>Update Medical Record</h1>
</header>

<section>
    <form action="{% url 'update_record_view' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="appointment_id" value="{{ appointment_id }}">
        <input type="hidden" name="patient_id" value="{{ patient_id }}">
        <input type="hidden" name="doctor_id" value="{{ doctor_id }}">
        <input type="hidden" name="type" value="update">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update Record</button>
    </form>
</section>

{% endblock %}
